.forkit-curtain {
  text-align: center;
  background: rgba(0, 0, 0, 0.85);
  /* padding-top: 20px; */
  z-index: 1000;
  overflow: auto;
}
.curtain-container {
  overflow: auto;
}
.forkit-curtain .close-button {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 30px;
  top: 30px;
  cursor: pointer;
}
h1, h2 {
  padding: 5px;
  /* margin-bottom: 8px; */
}
.title {
  font-size: 2.2em;
  color: #f2f2f2;
}
.subtitle {
  font-size: 1.6em;
  /* margin: 1px; */
}
.name {
  font-size: 1.35em;
  /* margin: 12px; */
}
.cell {
  margin: 35px;
  /* margin-top: 2%; */
  /* margin-bottom: 2%; */
}
.social {
  width: 45px;
  height: 45px;
  /* padding: 10px; */
}
.social img {
  margin: 20px;
  width: inherit;
  height: inherit;
  transition: all 150ms ease-in;
  z-index: 4;
  transform: scale(1);
}
.social img:hover {
  transition: all 250ms ease-in;
  z-index: 5;
  transform: scale(2.5);
}