.forkit-curtain {
  text-align: center;
  background: rgba( 0, 0, 0, 0.85);
  padding-top: 20px;
  z-index: 1000;
}
.forkit-curtain .close-button {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 30px;
  top: 30px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../img/close.png');
}
h1, h2 {
  padding: 5px;
  margin-bottom: 8px;
}
.title {
  font-size: 5vh;
  color: #f2f2f2;
  padding: 20px;
}
.subtitle {
  font-size: 2.4vh;
  margin: 5px;
}
.name {
  font-size: 3vh;
  margin: 12px;
}
.cell {
  margin: 20px;
  margin-top: 2%;
  margin-bottom: 2%;
}
.social {
  width: 44px;
  height: 44px;
  padding: 10px;
}
.social img {
  margin: 10px;
  width: inherit;
  height: inherit;
}