#loading-screen {
  /* DEBUG: ----- */
  /* display: none;
	/* ------------ */
  position: absolute;
  background-color: #6f8a91;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.logo-container {
  position: absolute;
  width: 12%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo {
  width: 284px;
  height: 206px;
}
.logo:hover {
  -webkit-filter: grayscale(0%) brightness(2000%);
  filter: grayscale(0%) brightness(2000%);
}