.side-nav {
  color: #fff;
  background-color: rgba(5, 5, 5, 0.85);
}
#sidenav-overlay {
  /* background-color: rgba(0, 0, 0, 0.13); */
  background-color: transparent;
}
.side-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  margin-bottom: 15px;
}
.side-option {
  margin-top: 50px;
  margin-bottom: 50px;
}
.option-container {
  text-align: center;
}
.icon {
  display: inline-block;
  margin: 2px;
}
.icon img {
  display: block;
  margin: auto;
  width: 160px;
  height: 120px;
}
.button {
  display: inline-block;
  transform: translateY(-55%);
  margin: 6px;
}
.button img {
  width: 55px;
  height: 50px;
}
#background-icon {
  width: 10px;
  height: 90px;
}