.plus-button {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 30px;
  bottom: 30px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../img/plus.png');
}

.side-nav {
  color: #fff;
  background-color: rgba(5, 5, 5, 0.85);
}

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  margin-bottom: 15px;
}

.option {
  padding-top: 50px;
  padding-bottom: 50px;
}

.option-container {
  text-align: center;
}

.icon {
  display: inline-block;
}

.icon img {
  display: block;
  margin: auto;
  width: 120px;
  height: 80px;
}

.button {
  display: inline-block;
  transform: translateY(-30%);
}

.button img {
  width: 45px;
  height: 45px;
  padding: 5px;
}
