.side-nav {
  color: #fff;
  background-color: rgba(5, 5, 5, 0.85);
}
#sidenav-overlay {
  /* background-color: rgba(0, 0, 0, 0.13); */
  background-color: transparent;
}
.side-menu {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.side-option {
  margin-top: 25px;
  margin-bottom: 25px;
}
.option-container {
  text-align: center;
}
.icon {
  display: inline-block;
  margin: 3px;
}
.icon img {
  display: block;
  margin: auto;
  width: 70px;
  height: 70px;
}
.button {
  display: inline-block;
  transform: translateY(-55%);
  margin: 6px;
}
.button img {
  width: 35px;
  height: 35px;
}
#background-icon {
  width: 30px;
  height: 50px
}