html, body {
  margin: 0;
  overflow: hidden
}

body {
  font-family: MyFrida, helvetica;
  color: #fff;
  background-color: #696969;
}

h1, h2 {
  padding: 10px;
  margin-bottom: 8px;
}

.title {
  font-size: 5.5vmax;
  color: #f2f2f2;
  padding: 20px;
}

.subtitle {
  font-size: 2.6vmax;
  margin: 5px;
}

.name {
  font-size: 3.2vmax;
  margin: 12px;
}

.cell {
  margin: 60px;
}

.social {
  width: 50px;
  height: 50px;
  padding: 10px;
}

.social img {
  margin: 12px;
  width: inherit;
  height: inherit;
}
