html,
body {
  margin: 0;
  overflow: hidden;
  touch-action: none;
}
body {
  font-family: MyFrida, helvetica;
  color: #fff;
  background-color: #696969;
}
.main-menu {
  position: fixed;
  left: 10px;
  bottom: 10px;
}
.main-button {
  margin: 10px;
}
.main-button img {
  width: 90px;
  height: 90px;
}

@media (max-width: 800px) {
  .main-menu {
    position: fixed;
    top: 10px;
  }
}
